@model AdminBlogsViewModel

@{
  ViewData["Title"] = "All Blogs";
}

<div class="container">
  <h1>All Blogs</h1>
  <table>
    <caption>
      All Blogs active and inactive
    </caption>
    <tr>
      <th>Header</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Published?</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>

    @foreach (var item in @Model.AllBlogs)
    {
      <tr>
        <td>@item.Header</td>
        <td>@item.Createtimestamp</td>
        <td>@item.Modifytimestamp</td>
        <td>@item.Ispublished</td>
        <td>@item.Category</td>
        <td>
          <ul>
            <li>
              <a href='/admin/blog/update/@item.Id'>Edit</a>
            </li>
            @if (@item.Ispublished)
            {
              <li>
                <a href="/admin/blog/deactivate/@item.Id">Deactivate</a>
              </li>
            }
            else
            {
              <li>
                <a href="/admin/blog/activate/@item.Id">Activate</a>
              </li>
            }
            <li>
              <a href="/admin/blog/delete/@item.Id">Delete</a>
            </li>
          </ul>
        </td>
      </tr>
    }
  </table>
</div>