@model ArchiveViewModel

@{
  ViewData["Title"] = "Archive";
}

<h1 class="text-white">Archive</h1>

@{
  if (@Model.YearAndBlogs.Count() > 0)
  {
    <div class='archive text-white'>

      @foreach (var item in @Model.YearAndBlogs)
      {
        <strong>@item.Key</strong>
        <br />
        foreach (var blog in item.Value)
        {
          <p title='@blog.Description'>
            <a href='/blog/@blog.Name'>
              <small>@blog.Header</small>
            </a>
          </p>
        }
      }

    </div>
  }
  else
  {
    @Html.Raw(@Model.EmptyArchiveMessage)
  }
}
