@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

    @* <h1 class="text-white" title="last 30 days">@Model.Title</h1>

  @if(Model.LastThirtyDaysBlogs && Model.LastThirtyDaysBlogs.length > 0){
    <div class="d-flex flex-wrap text-white flex-row bd-highlight mb-3">
      @Model.LastThirtyDaysBlogs.forEach(function(item){
          <div class="p-1 bd-highlight">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"></h3>
              <span>
                <a href="/blog/@item.name" title="@item.header">
                  @item.header
                </a>
              </span>
              <br />
              <span>
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item border-0">
                     <span style="font-size:xx-small">by <a href="/about" >Thomas Reese</a></span>
                  </li>
                  <li class="list-group-item border-0">
                      <i style="font-size:xx-small;">first published on @item.createtimestamp UTC</i>
                      <br />
                    @if (item.modifytimestamp) {
                      <i style="font-size:xx-small;">last updated on @item.modifytimestamp UTC</i>
                    }
                  </li>
                </ul>
              </span>
            </div>
        </div>
      </div>
      })
      </div>
  }else{
    <div class="jumbotron container text-white ml-auto">
      <pre>@Model.Greeting</pre>
    </div>
  } *@